
<html>
  <head>    
    <title>教师界面菜单</title>
	<link rel="stylesheet" type="text/css" href="./css/left.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script type="text/javascript" src=""></script>
  </head>  
  <body> 
  	<div id="nav">  	
 	<div class="sub">
 		<div class="font">
 			<img src="./images/course.png">课程知识中心
 		</div>
 		<ul>
 			<li><a href="./Course/courseMentManage" target="main">
 				<img src="./images/coumanage.png">课程信息管理
 			</a></li>
 			<li><a href="./Knowledge/knowledgeMentManage" target="main">
 				<img src="./images/knowmanage.png">知识信息管理
 			</a></li> 			
 		</ul> 	 	
 	</div>
 	</div>
 	<script src="./js/jquery-1.12.1.min.js"></script>
	<script src="./js/left.js"></script>
	<script src="./js/script.js"></script>
  </body>
</html>
