@CHARSET "UTF-8";
	#teacher_main{
		position:absolute;
		width:100%;
		height:100%;
		background-color:#000;
	}
	#teacher_logo{
		display:flex;/*弹性盒模型*/
		width:100%;
		height:50px;
	    background-color:#3399cc;
	}
	.logo_images{
		margin-left:5px;
	}
	.logo_font{
		margin:0 auto;
		text-align:center;
		line-height:50px;
		color:#f7f801;
		text-shadow:3px 3px 7px #111;
		font-size:35px;
	}
	.logo_time{
		height:50px;
		margin-right:5px;
		line-height:50px;
	}
	#teacher_top{
		display:flex;
		height:25px;
		background-color:red;
		line-height:25px;
	}
	#teacher_content{
		width:100%;
		height:50px;
		background-color:green;
	}
	#teacher_bottom{
		position:fixed;
		width:100%;
		height:25px;
		bottom:0;
		background:#000;
	}