/*等待加载页面*/
	@keyframes loadingScale{
		0%{
			transform:scale(1);
			background:#fff;
		}
		100%{
			transform:scale(.3);
			background:#c1c1c1;
		}
	}
	body{
		background-color:#5bb1f2;
	}
	#loading{
		position:absolute;
		width:100%;
		height:100%;
		background-color:#5bb1f2;
	}
	#login_hint{
		width:100%;
		height:25px;
		margin:-25px auto 0;
		background:#f2f2f2;
		font-size:15px;
		font-weight:bold;
		text-align:center;
		line-height:25px;
		border-radius:0 0 5px 5px;
		transform-style:preserve-3d;
		transition:.5s;
	}
	#loading_list{
		position:absolute;
		display:flex;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.loading{		
		width:40px;
		height:40px;
		border-radius:50%;
		margin-right:12px;
		background-color:#fff;
		animation-name:loadingScale;
		animation-duration:1.2s;
		animation-timing-function:linear;/*从开头到结尾以相同的速度播放*/
		animation-iteration-count:infinite;/*动画播放次数*/
	}
	.loading-left{
		animation-delay:0s;
	}
	.loading-center{
		animation-delay:.4s;
	}
	.loading-right{
		animation-delay:.8s;
	}